.home-bg {
  background: url("/images/start.jpg") center / cover;
  min-height: 100vh;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: -1;

  &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(rgba(60, 30, 20, 0.55), rgba(30, 15, 10, 0.55));
      mix-blend-mode: multiply;
      z-index: 0;
    }
}
